body {
    font-family: 'Montserrat', sans-serif !important;
}

.carousel {
    z-index: -1 !important;
}

.logo {
    height: 20%;
    margin-left: 12vh;
    margin-top: 2vh;
    padding-top: 3vh;
    position: absolute;
    display: block;
}

.seccion {
    padding-top: 7vh;
    padding-left: 10vh;
    padding-right: 10vh;
    padding-bottom: 7vh;
}

.title {
    margin-top: 2vh;
    font-family: 'Walter Turncoat', cursive;
}

#contacto {
    background-color: black;
    color: white;
}

a {
    color: white !important;
}

a:hover {
    text-decoration: none !important;
}

a:active {
    text-decoration: none !important;
}

#footer {
    background-color: black;
    color: white;
    text-align: center;
}

@media (max-width: 575.98px) {
    #contacto {
        display: inline-block;
        text-align: center;
    }

@media (max-width: 575.98px) {
    .logo {
        display: none !important;
    }

}

@media (max-width: 575.98px) {
    .logo {
        display: none;
    }

    .logo-golondrina {
        height: 15%;
        margin-left: 5vh;
        padding-top: 3vh;
        position: absolute;
        display: block !important;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    #mi-historia {
        background-color: white;
        color: black;
    }

    .logo {
        height: 20%;
        margin-left: 12vh;
        margin-top: 2vh;
        padding-top: 3vh;
        position: absolute;
    }
}

@media (min-width: 1200px) {
    #mi-historia {
        background-color: white;
        color: black;
        padding-left: 15%;
    }

    #contacto .row {
        flex-wrap: nowrap;
    }

    #contacto {
        padding-left: 20vh;
    }
}
